@model AXOLONCoreMVCv1.Models.TblDocumentDetail

@{
    ViewData["Title"] = "DocumentInsert";
}

<div class="text-center">
    <h3>Manage Documents</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="DocumentInsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentNumber" class="control-label"></label>
                <input asp-for="DocumentNumber" class="form-control" />
                <span asp-validation-for="DocumentNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.employeeData, "EmployeeId", "EmployeeId"),new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
            </div>
            <div class="form-group">
                <label asp-for="DocumentType" class="control-label"></label>
                <input asp-for="DocumentType" class="form-control" />
                <span asp-validation-for="DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuePlace" class="control-label"></label>
                <input asp-for="IssuePlace" class="form-control" />
                <span asp-validation-for="IssuePlace" class="text-danger"></span>
            </div>
            
                <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" class="form-control" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
           
            
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
